<mat-nav-list>
	<a mat-list-item href="">Teste</a>
	<a mat-list-item>Teste 2</a>
</mat-nav-list>

<mat-nav-list class="m-widget4">
	<div mat-list-item class="m-widget4__item">
		<div class="m-widget4__img m-widget4__img--logo">
			<img src="assets/app/media/img/client-logos/logo5.png" alt="">
		</div>
		<div class="m-widget4__info">
			<span class="m-widget4__title">
				Trump Themes
			</span>
			<br>
			<span class="m-widget4__sub">
				Make Metronic Great Again
			</span>
		</div>
		<span class="m-widget4__ext">
			<span class="m-widget4__number m--font-brand">+$2500</span>
		</span>
	</div>
</mat-nav-list>
